Client sees EOF when reloading ingress

<!-- Thanks for filing an issue! Before hitting the button, please answer these questions.-->

**Is this a request for help?** : no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
EOF, reload
---

**BUG REPORT**

<!--
If this is a BUG REPORT, please:
  - Fill in as much of the template below as you can.  If you leave out
    information, we can't help you as well.

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

In both cases, be ready for followup questions, and please respond in a timely
manner.  If we can't reproduce a bug or think a feature already exists, we
might close your issue.  If we're wrong, PLEASE feel free to reopen it and
explain why.
-->

**NGINX Ingress controller version**: `0.26.1` also tested in `0.25.1`


**Kubernetes version** (use `kubectl version`):
```
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:39:02Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
```

also tested in
```
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:21:50Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:13:31Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
```

**Environment**:

- **Cloud provider or hardware configuration**: AWS provisioned by kube-aws, docker-for-desktop
- **OS** (e.g. from /etc/os-release): 
```
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=2079.4.0
VERSION_ID=2079.4.0
```
- **Kernel** (e.g. `uname -a`): `Linux [REDACTED].eu-west-1.compute.internal 4.19.43-coreos #1 SMP Wed May 15 07:18:39 -00 2019 x86_64 Intel(R) Xeon(R) Platinum 8175M CPU @ 2.50GHz GenuineIntel GNU/Linux`
- **Install tools**: `kube-aws`
- **Others**:


**What happened**:

Some of our clients are randomly experiencing an EOF using keepalive connections. After investigation, we discovered that the problem correlates with ingress updates.

**What you expected to happen**:

Ingresses can be updated without dropping in-flight client connections.

**How to reproduce it** (as minimally and precisely as possible):
 We created a repository that reproduces it 100% of the time: https://github.com/tjamet/nginx-ingress-EOF

```
kubectl apply -f https://raw.githubusercontent.com/tjamet/nginx-ingress-EOF/master/install/k8s/objects.yaml
helm install stable/nginx-ingress --version 1.21.0 --name nginx-ingress --values https://raw.githubusercontent.com/tjamet/nginx-ingress-EOF/master/install/nginx/values.yaml
go get github.com/tjamet/ingress-EOF
kubectl port-forward $(k get po | grep nginx-ingress-controller | head | awk '{print $1}') 8080:32080
kubectl logs -f $(k get po | grep nginx-ingress-controller | head | awk '{print $1}')
```

In another terminal, run the test script:
```
go get github.com/tjamet/nginx-ingress-EOF
go run github.com/tjamet/nginx-ingress-EOF
```

you should see the log 
```
connecting to proxy, original address: http-echo.example.com:80
ingress.extensions/http-echo annotated
Post http://http-echo.example.com/1571996822?count=10: EOF
it looks like we reproduced the problem, exiting
exit status 1
```

however, the request does not appear in the logs. Inspecting the network logs, the request packet is correctly sent to Nginx, which closes the connection right after
<img width="1621" alt="image" src="https://user-images.githubusercontent.com/6061440/67561990-2c8c9100-f71e-11e9-9d55-285ae8f309cb.png">


**Anything else we need to know**:
NGINX is using the proxy protocol, may this influence the behaviour?

> NGINX is using the proxy protocol, may this influence the behaviour?

No.

> Some of our clients are randomly experiencing an EOF using keepalive connections.

This is expected after an NGINX reload. Did you update the deployment definition? In particular https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/with-rbac.yaml#L81



It seems the chart does not contain the mentioned change.

If I am not mistaking `lifecycle.preStop` is considered for the pod lifetime correct?
In the example show, the connection is kept alive on the client side for at most 30 seconds, and we observe that if a reload happens within the 5 first seconds, the connection is closed.

I would agree that the problem should probably also be raised to nginx, basically, I need to be able to provide my clients clear expectations about the quality of service under normal circumstances and remarkably:
- Nginx would not kill http requests if they are within X seconds (thanks to `worker_shutdown_timeout` and `/wait-shutdown`
- Nginx would not kill tcp connections if they have been established less than X seconds ago (here, I am trying to find out what setting can I use)

> probably also be raised to nginx, basically,

There are already several tickets about it and the response is the same, clients should be able to reconnect, like https://trac.nginx.org/nginx/ticket/1022


I do agree that clients should reconnect and retry, though, though as per [RFC 7230](https://tools.ietf.org/html/rfc7230#section-6.3.1), this can be done automatically for idempotent methods
> When an inbound connection is closed prematurely, a client MAY open a new connection and automatically retransmit an aborted sequence of requests if all of those requests have idempotent methods (Section 4.2.2 of [RFC7231]).  A proxy MUST NOT automatically retry non-idempotent requests.

Hence this causes 2 major problems:
- By design IC can't guarantee having only idempotent methods
- Retries will affect QoS by delaying a given request being retried

In a large deployment mutualising the ingress controller across multiple applications, the rate of updates, and hence, reload is probably pretty high. This brings cross-application impacts as updating the ingress of one application may affect the QoS of a second one. 

> he rate of updates, and hence, reload is probably pretty high.

Only changes in ingresses trigger a reload. Anything else does not require reloads.

What are you suggesting exactly? I am not sure the ingress controller is the one to blame here.

I am also unsure there is something to do at the ingress controller level, the purpose of this issue is quite to discuss the problem and evaluate wether there is something doable in this area at the IC level.

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle stale

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/lifecycle rotten

Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
/close

@fejta-bot: Closing this issue.

<details>

In response to [this](https://github.com/kubernetes/ingress-nginx/issues/4715#issuecomment-605638694):

>Rotten issues close after 30d of inactivity.
>Reopen the issue with `/reopen`.
>Mark the issue as fresh with `/remove-lifecycle rotten`.
>
>Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).
>/close


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>